[Desktop Entry]
Name=USB Guard
Comment=Allow or deny USB devices as they are connected
Type=Application
Exec=cosmic-usb-guard-applet
Icon=io.github.stldave314.CosmicUsbGuard-symbolic
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;USB;USBGuard;Security;
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
X-OverflowPriority=8
